<!DOCTYPE html>
<html>
<head>
  <title>QDrone</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9eMnKZecXg-A_Tq0NHCegDtg6bnF3qHs&callback=initMap&libraries=&v=weekly"
    defer
  ></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</head>

<body>
  <div id="time" style="padding-left: 5px;"> </div>
  <table id="data" style="border-collapse: separate; border-spacing: 4px;">
    <tr>
      <td class="mytab" valign="top" width="20%">
        <div style="text-align: left;">
            <img src="{{ url_for('video_feed') }}" 
              style="width: 320px; height: 240px; border: 1px solid #8B4513;">
        </div>
        <div align="center">
          <p><input type="button" value="Arm" id="arm" />
          <input type="button" value="Disarm" id="disarm" /></p>
          <p><input type="button" value="Up" id="up" />
          <input type="button" value="Down" id="down" /></p>
        </div>
        <div>
          <table>
            <tr>
              <td class="xyz">Latitide</td>
              <td class="xyz">Longitide</td>
              <td class="xyz">Height</td>
            </tr>
            <tr>
              <td class="xyz"><div id="X"></div></td>
              <td class="xyz"><div id="Y"></div></td>
              <td class="xyz"><div id="Z"></div></td>
            </tr>
          </table>
        </div>
        <div>
          <div id="UAV2"> </div>
          <br />
          <div id="UAV3"> </div>
        </div>
        
        
      </td width="80%">
      <td valign="top">
        <div id="map" class="map" style="width: 100%; height: 480px; border: 1px solid #8B4513;">
        </div>
      </td>
    </tr>
  </table>


<script type="text/javascript">
    

  let map;

  function initMap() {
    const UAV = { lat: {{UAV["x"]}}, lng: {{UAV["y"]}} };
    const UAV2 = { lat: {{UAV2["x"]}}, lng: {{UAV2["y"]}} };
    const UAV3 = { lat: {{UAV3["x"]}}, lng: {{UAV3["y"]}} };
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 60.031, lng: 30.360 },
      zoom: 8
    });

    addMarker("UAV", UAV, map);
    addMarker("UAV2", UAV2, map);
    addMarker("UAV3", UAV3, map);
  }

  function addMarker(label, location, map) {
    new google.maps.Marker({
      position: location,
      map: map,
      icon: "{{ url_for('static', filename='img/map_icon.png') }}",
      label: label
    });
  }

  function gid(i) {return document.getElementById(i);}

  gid("X").textContent = 60.031;
  gid("Y").textContent = 30.360;
  gid("Z").textContent = 20;
  gid("time").textContent = 0;

  // gid("UAV2").innerText = "UAV2 predict: \n(" + {{UAV2["x1"]}} + ", " + {{UAV2["y1"]}} + "), (" + {{UAV2["x2"]}} + ", " + {{UAV2["y2"]}} + "), \n(" + {{UAV2["x3"]}} + ", " + {{UAV2["y3"]}} + ")";
  // gid("UAV3").innerText = "UAV3 predict: \n(" + {{UAV3["x1"]}} + ", " + {{UAV3["y1"]}} + "), (" + {{UAV3["x2"]}} + ", " + {{UAV3["y2"]}} + "), \n(" + {{UAV3["x3"]}} + ", " + {{UAV3["y3"]}} + ")";


  var statusIntervalId = window.setInterval(update, 1000);


  function update() {
      $.ajax({
          url: '/',
          dataType: 'text',
          success: function(data) {
              var now = new Date();
              $("#time").text(now);
              // $("#time").text(Math.round((Date.now()*1e-3)*100)/100);
          }
      })
  }
</script>


</body>
</html>